$background: #b9e7dc;
$theme-color-1: #ffb4ce;
$theme-color-2: #ef7fab;
$theme-color-3: #f2cd9c;
$font-color: #201a15;
$font-family: 'Comic Sans', Arial, Helvetica, sans-serif;
$breakpoint-desktop: 1024px;
$breakpoint-wide: 1300px;
$breakpoint-tablet: 840px;
